.git
.gitignore
README.md
.env
.env.example
.nyc_output
.sass-cache
.phpunit.result.cache
node_modules
npm-debug.log
yarn-error.log
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
tests
.phpunit.result.cache
vendor
.DS_Store
Thumbs.db
*.log
.vscode
.idea
docker-compose*.yml
Dockerfile*
.dockerignore
docs
public/storage
